python -m pip install --upgrade pip	// to update pip
pip install flask
pip install Flask-wtf
pip install flask-sqlalchemy
pip install flask-bcrypt
python -m pip install --upgrade pip	// to update pip
python -m pip install --no-use-pep517 bcrypt // if bcrypt show error
pip install flask-login
pip install email_validator
pip install Pillow
pip install flask-mail
pip install flask-serialize
